{% extends 'base.html' %} 

{% block content %} 
update
    <div class="row">
        <div class="col-9" style="text-align: left;">
            <table class ="table">
                <thead>
                    <tr>
                        <th><a href="{% url 'configure:question-list' %}">Question</a></th>
                        <th><a href="{% url 'configure:category-list' %}">Category</a></th>
                        <th><a href="{% url 'configure:subcategory-list' %}">Subcategory</a></th>
                        <th><a href="{% url 'configure:era-list' %}">Eras</a></th>
                        <th><a href="{% url 'configure:difficulty-list' %}">Difficulty</a></th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                        <tr>
                            <td><a href="{% url 'configure:question-update' question.id %}">{{ question.text }}</a></td>
                            <td>{{ question.category.name }}</td>
                            <td>{{ question.subcategory.name }}</td>
                            <td>{% for era in question.eras.all %}{{era}}, {% endfor %}</td>
                            <td>{{ question.difficulty }}</td>
                            <td>{{ question.active }}</td>
                        </tr>
                    {% empty %}
                        No Questions yet.
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}