{% extends 'base.html' %} 

{% block content %} 

<h1>Questions</h1>

<h2>Search: </h2>
<form action="{% url 'configure:search-questions' %}" method="POST" class="d-flex">
    {% csrf_token %}
    <input type="text" class="form-control" type="search" aria-label="Search" name="searched">
    <button class="btn-outline-primary" type="submit">Search</button>
</form>
<br>
<a href="{% url 'configure:question-create' %}">
    <button class="btn btn-primary">Create New Question</button>
</a>

<form action="" method="POST">
    {% csrf_token %}
        <button class="btn btn-secondary" type="submit">Batch Add from CSV</button>
    <input type="number" class="number" name="start_num" id="start_num" width="100px;" placeholder="0">
</form>


<table class="table">
    <thead>
        <tr>
            <th>Text</th>
            <th>Category</th>
            <th>Eras</th>
            <th>Difficulty</th>
            <th>Active</th>
            <th>Delete</th>
        </tr>
    </thead>

{% for question in questions %}
    <tbody>
        <tr>
            <td><a href="{% url 'configure:question-update' question.id %}">{{ question.text }}</a></td>
            <td>{{ question.category }}</td>
            <td>{% for era in question.eras.all %}{{era}}, {% endfor %}</td>
            <td>{{ question.difficulty }}</td>
            <td>{{ question.active }}</td>
            <td>
                <a href="{% url 'configure:question-delete' question.id %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
    </tbody>
{% empty %}
    No Questions yet.
{% endfor %}
</table>

{% endblock %}