asgiref
channels==4.0.0
crispy-bootstrap5==0.7
daphne==4.0.0
Django==4.1.6
dj-database-url
django-allauth
django-cors-headers
django-crispy-forms
django-environ
django-extensions
django-model-utils
django-filter
django-heroku
djangorestframework
lockfile==0.12.2
gunicorn
pandas
psycopg2
psycopg2-binary
pillow
pyOpenSSL==23.0.0
pytz
whitenoise
