body {
    font-family: Calibri, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #2D2D2D;
}

* {
    color: #ffffff;
    font-family: 'Calibri', 'American Typewriter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Main buttons */
button {
    margin: 0;
    background-color: #b7b7b7;
    text-align: center;
    width: 200px;
    font-weight: bold;
    border: none;
}

button:hover {
    opacity: 80%;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    color: #ffffff;
    font-family: 'American Typewriter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

h2 {
    display: block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    color: #ffffff;
    align-content: center;
    text-align: center;
    font-family: 'American Typewriter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#menu {
    position: absolute;
    top: 65px;
}

/* Side menu buttons */
#menu button {
    color: white;
    background-color: grey;
    border: none;
    font-size: 10px;
    font-weight: bold;
    margin: 1px 0;
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 140px;
    box-sizing: border-box;
    height: 18px;
    padding: 0px;
    flex-direction: column;
    flex-wrap: wrap;
}

#menu button:hover {
    opacity: 80%;
    transform: scale(1.03);
  }

#menu .menu_left{
    width: 40%;
    float: left;
}

#menu .menu_right{
    width: 40%;
    float: right;

}

#all-none-categories button {
    background-color: white;
}

#art button {
    background-color: #dd7e6b;
}

#economics button {
    background-color: #598C58;
}

#food button {
    background-color: #F28500;
}

#games button {
    background-color: #cc5500;
}

#geography button {
    background-color: #563d2d;
}

#history button {
    background-color: #f1c232;
} 

#human-body button {
    background-color: #d8965b;
}

#language button {
    background-color: #6693f5;
}

#law button {
    background-color: #6f3e33;
}

#literature button {
    background-color: #d99d29;
}

#math button {
    background-color: #65635c;
}

#miscellaneous button {
    background-color: #12A898;
}

#movies button {
    background-color: #660000;
}

#music button {
    background-color: #1DB954;
}

#nature button {
    background-color: #043927;
}

#philosophy button {
    background-color: #975fac;
}

#politics button {
    background-color: #351c75;
}

#pop-culture button {
    background-color: #ff6fff;
}

#science button {
    background-color: #06550d;
}

#sports button {
    background-color: #131e3a;
}

#technology button {
    background-color: #1f5967;
}

#television button {
    background-color: #2d2c29;
}

#theater button {
    background-color: #b70000;
}

#theology button {
    background-color: #3C1321;    
}

#video-games button {
    background-color: #9900ff;
}


#start-pause button {
    width: 255px;
    height: 30px;
    font-size: 26px;
    border-radius: 10px;
    margin: 1px auto;
    color: #fff;
    background-color: green;
    border-style: none;
    cursor: pointer;
}

#settings button {
    width: 255px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    margin: 1px auto;
    color: #FFF;
    font-size: 26px;
    border-style: none;
    cursor: pointer;
}

#Timer {
    font-size: 100px;
    color: #ffffff;
}

#demo {
    font-size: 20px;
}

#question-container {
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 70px;
}

#answer-container {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 70px;
}


.indicator {
    width: 8px; /* Reduce the indicator width to match smaller buttons */
    height: 100%; /* Set the indicator's height to 100% of the button's height */
    background-color: #00F829;
    left: 0; /* Position the indicator at the left edge of the button */
    top: 0; /* Align the indicator with the top of the button */
    bottom: 0; /* Align the indicator with the bottom of the button */
    margin-right: 0px; /* Create space between indicator and text */
    border-right: 1px solid #2D2D2D;
  }

  .inactive .indicator  {
    background-color: red;
  }

  .loading-bar-container {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

#big-buttons {
    background-color: rgba(0,0,0,0.5);
    padding: 2px;
}