body {
    font-family: "Montserrat", 'Calibri', sans-serif;
    font-size: 15px;
    background: linear-gradient(345deg, rgba(69, 93, 214, 1) 0%, rgba(78, 50, 100, 1) 100%);
    margin: 0;
    display: block
    /* overflow: hidden; */
}

* {
    color: #ffffff;
    /* text-align: left; */
}

a {
    text-decoration: none;
}


button {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    font-size: 11px;
    text-align: left;
    height: 20px;
    padding: 0px;
    margin: 1px 0;
    border: none;
    font-weight: 950;
    cursor: pointer;
    border-radius: 2px;
}

#start-game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-game button {
    width: 100%;
    margin: 25 20 10;
    padding: 5px 50px;
    align-items: center;
    vertical-align: middle;
    height: 36px;
    font-size: 15px;
    outline: 1px solid;
    color: white;
    border-radius: 10px;
}

#start-game button:hover {
    /* opacity: 80%; */
    background: rgba(0, 0, 0, .2);
}

#reset-game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset-game button {
    width: 100%;
    margin: 25 20 10;
    padding: 5px 50px;
    align-items: center;
    vertical-align: middle;
    height: 36px;
    font-size: 15px;
    outline: 1px solid;
    color: white;
    border-radius: 10px;
}

#reset-game button:hover {
    /* opacity: 80%; */
    background: rgba(0, 0, 0, .2);
}
/* 2024 NEW CSS STARTS */



/* COLLAPSE/EXPAND DIV CSS */

input[type='checkbox'] { 
    display: none; 
} 

.wrap-collabsible { 
    margin: 6px 0;
} 

.lbl-toggle { 
  display: flex; 
  font-weight: 100; 
  text-transform: uppercase; 
  /* padding: .25rem;  */
  color: #DDD; 
  background: rgba(0, 0, 0, 0);
  cursor: pointer; 
  transition: all .25s ease-out; 
  flex-direction: row;
  align-items: center;
  height: 24px;
  margin: 0px 20px;
  padding: 10px 20px;
} 

.lbl-toggle:hover { 
    color: #FFF;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2); 
}

.lbl-toggle::before { 
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle; 
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
} 
.toggle:checked + .lbl-toggle::before { 
  transform: rotate(90deg) translateX(-3px); 
} 

.collapsible-content { 
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .5s ease-in-out; 
  transition-delay: 0.26s;

  /* unsure about this one */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
} 

.toggle:checked + .lbl-toggle { 
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    background: rgba(0, 0, 0, .2);
} 

.content-inner { 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.content-inner button {
    color: rgba(225, 225, 225, 1);
    display: flex;
    vertical-align: middle;
    /* background: rgba(0, 0, 0, .1); */
    border-radius: 8px;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.content-inner button:hover{
    background: rgba(0, 0, 0, .25);
}
.content-inner button.all-none-btn {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    padding-left: 8px;
    border-radius: 6px;
    flex-direction: row;
    align-items: center;
}

.collapsible-content .content-inner { 
    background: rgba(0, 0, 0, .2);
    padding: 10 20;
    margin: 0 20;
    border-bottom-right-radius: 14px; 
    border-bottom-left-radius: 14px; 
} 
.collapsible-content p { 
    margin-bottom: 0; 
}
 
.toggle:checked + .lbl-toggle + .collapsible-content { 
    max-height: 100vh;
    overflow: scroll;
  } 

.hide {
    display: none;
}
 
/* COLLAPSE/EXPAND DIV CSS END */

  .button-container {
    width: 100%;
  }

  nav {
    /* background-color: rgba(0,0,0,0.5); */
  }

   /* .navbar button {
    background: none;
    text-align: right;
    font-size: 12px;
    padding: 0px 10px;
  } */


  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    /* background-color: rgba(0,0,0,0.5); */
    height: 50px;
    flex-direction: row;
    align-items: center;
  }

  .navbar button {
    background: none;
    text-align: right;
    font-size: 12px;
    padding: 0px 10px;
  }

  #top-area {
    background-color: rgba(0,0,0,0.5)
  }

  .login {
    margin: auto 0;
    display: flex;
  }


  .main-column {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    align-items: flex-start;
    /* flex: 1; */
    height: 100%;
    flex-direction: column;
  }

  .side-column {
    background-color: rgba(0, 0, 0, .5);
    flex: 0 0 12%;
    min-width: 240px;
    border-radius: 24px;
    border: 1px solid rgba(225, 225, 225, 0.2);
    margin: 0 20 20 0;
    overflow: hidden;
}

  #main-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 50px);
    /* justify-content: space-between; */
    align-items: stretch;
}

.main-container-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 20 20 20;
    overflow: hidden;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    border: 1px solid rgba(225, 225, 225, 0.2);

}
.game-area {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-self: stretch;
    flex-direction: column;
    /* width: 100%; */
}


/* footer { */
    /* margin-top: auto; /* Push footer to the bottom
}

 .column-rest .button {
    flex-direction: row-reverse;
    } */

  .indicator {
    width: 2px; /* Reduce the indicator width to match smaller buttons */
    height: 100%; /* Set the indicator's height to 100% of the button's height */
    background-color: #00F829;
    left: 0; /* Position the indicator at the left edge of the button */
    top: 0; /* Align the indicator with the top of the button */
    bottom: 0; /* Align the indicator with the bottom of the button */
    margin-right: 0px; /* Create space between indicator and text */
    border-right: 1px solid #2D2D2D;
    border-radius: 2px;
    margin-right: 6px;
  }

  .inactive .indicator  {
    background-color: red;
  }

.button .category-title, .difficulty-title, .era-title {
    margin: auto;
    padding-left: 10px;
    text-align: left;
}

/* .loading-bar-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    margin-top: auto;
    min-height: 19px;
  } */


  /* 2024 NEW CSS ENDS */

/* Main buttons */



/*  ~~~~~~~~~~~~~ look into this ~~~~~~~~~~~~~*/



.options-menu {
    width: -webkit-fill-available;
}

.menu_question_time {
    display: block;
    width: 100%;
}

.menu_question_time button {
    margin: 0 1px;
}

.number_of_questions, .time_settings_question, .time_settings_answer {
    display: flex;
    align-content: center;
    align-items: center;
}


h1 {
    font-size: 28px;
    line-height: 0;
    font-weight: bold;
    font-family: 'Calibri', Arial, sans-serif;
    word-wrap: break-word;
}

.somewhat-smaller-font {
    font-family: 'Calibri', Arial, sans-serif;
    font-size: 50%;
    font-style: italic;
    color: white;
}

.smaller-font {
    font-family: 'Calibri', Arial, sans-serif;
    font-size: 40%;
}

h2 {
    display: block;
    font-size: 16px;
    font-weight: 100;
    width: 100%;
    color: #ffffff;
    align-content: center;
    text-align: center;
    font-family: 'Calibri', Arial, sans-serif;
    margin: 10px;
}

#menu {
    position: absolute;
    top: 65px;
}

/* #all-none-categories button {
    background-color: white;
} */

/* #art button {
    background-color: #dd7e6b;
}

#economics button {
    background-color: #598C58;
}

#food button {
    background-color: #F28500;
}

#games button {
    background-color: #cc5500;
}

#geography button {
    background-color: #9a7b4f;
}

#history button {
    background-color: #f1c232;
} 

#human-body button {
    background-color: #d8965b;
}

#language button {
    background-color: #6693f5;
}

#law button {
    background-color: #6f3e33;
}

#literature button {
    background-color: #d99d29;
}

#math button {
    background-color: #65635c;
}

#miscellaneous button {
    background-color: #12A898;
}

#movies button {
    background-color: #660000;
}

#music button {
    background-color: #1DB954;
}

#nature button {
    background-color: #043927;
}

#philosophy button {
    background-color: #975fac;
}

#politics button {
    background-color: #351c75;
}

#pop-culture button {
    background-color: #ff8fab;
}

#science button {
    background-color: #06550d;
}

#sports button {
    background-color: #131e3a;
}

#technology button {
    background-color: #1f5967;
}

#television button {
    background-color: #2d2c29;
}

#theater button {
    background-color: #b70000;
}

#theology button {
    background-color: #3C1321;    
}

#video-games button {
    background-color: #9900ff;
} */


#start-pause button {
    width: 255px;
    height: 30px;
    font-size: 26px;
    border-radius: 10px;
    margin: 1px auto;
    color: #fff;
    background-color: green;
    border-style: none;
    cursor: pointer;
}

#settings button {
    width: 255px;
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    margin: 1px auto;
    color: #FFF;
    font-size: 26px;
    border-style: none;
    cursor: pointer;
}

/* #demo {
    font-size: 16px;
} */

.loader-text {
    font-size: 16px;
}


.container-game {
    height: -webkit-fill-available;
    display: flex;
    align-self: stretch;
    /* width: 100%;
    height: 100%; */
    flex-direction: column;
    justify-content: center;
}

.question-container {
    padding: 10px 50px;
    display: flex;
    font-size: 5vw;
    font-family: "Montserrat",'American Typewriter', sans-serif;
    font-weight: 500;
    height: 50%;
    align-items: center;
    text-align: center;
}

.answer-container {
    padding: 10px 50px;
    display: flex;
    font-size: 5vw;
    font-family: "Montserrat",'American Typewriter', sans-serif;
    font-weight: 500;
    height: 25%;
    flex-direction: column;
    text-align: center;
}

  .inactive .indicator  {
    background-color: red;
  }

  
/* Slider stuff */
.slider-container {
    margin: 15px auto;
}
.slider-label {
    text-align: center;
    padding-bottom: 15px;
}
.slider {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFF;
    cursor: pointer;
}

  
.loading-bar-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    /* padding: 10px 0; */
    justify-content: center;
    margin-top: auto;
    /* min-height: 19px; */
  }

  /* Attempt at dynamic question and answer timer indicator */
  #loading-bar {
    display: flex;
    width: 100%;
    /* height: 20px; */
    position: relative;
    overflow: hidden;
    justify-content: center;
  }
  #progress {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    animation: depleteProgress 10s linear infinite paused;
  }

  #loading-text {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    z-index: 1;
  }

  @keyframes depleteProgress {
    0% { width: 100%; }
    100% { width: 0%; }
  }

  @keyframes replenishProgress {
    0% { width: 0%; }
    100% { width: 100%; }
  }