<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital@0;1&display=swap");
    </style>
    
    <title>TRIVIOLIVIA.com EARTH'S DEEPEST TRIVIA SOURCE</title>
</head>
<body>
    

  {% block content %}

  {% endblock %}
</body>
<script src="https://unpkg.com/htmx.org@1.8.5"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>

</html>